body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}

/*.container {
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto
}*/
/*
@media(min-width:768px) {
	.container {
		width:750px
	}
}
@media(min-width:992px) {
	.container {
		width:970px
	}
}
@media(min-width:1200px) {
	.container {
		width:1170px
	}
}*/

* {
	box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

form {
  padding: 10px;
  border-bottom: solid 1px #DDD;
}

#addtask {
  width: 100%;
  padding: 3px;
  font-size: 1.2em;
}

#taskslist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.task {
  padding: 10px;
  border-bottom: solid 1px #DDD;
  width: 100%;
  display: inline-block;
}

.task:hover {
  background-color: #F2F6F9;
}

.task.current {
  background-color: #F2F6F9;
  font-weight: bold;
}


.date {
	display: inline-block;
    font-style: italic;
    font-size: small;
    vertical-align: middle;
	padding-right: 10px;
	color: #a04f52;
}

.day {
	display: inline-block;
	width: 4em;
    font-style: italic;
    font-size: small;
}

.time {
	display: inline-block;
    font-style: italic;
    font-size: small;
	padding-left: 10px;
}

.delete {
  width: 24px;
  height: 24px;
  cursor: pointer;
  vertical-align: middle;
}

.status {
	display: inline-block;
	text-align: center;
	background-color: #eeeeee;
	padding: 3px 6px;
	margin: 0 1ex;
	border-radius: 8px;
	width: 5em;
	cursor: pointer;
}

.status.pending {
	background-color: #E8E758;
}

.status.done {
	background-color: #8CE58C;
}


